---
layout: main
---
<body class="front">
	<div class="header-section">

	</div>
			<div class="stripe-section">
				<div class="page vcard">
					<h1 class="fn"><span class="given-name">Marek</span> <span class="family-name">Zaluski</span></h1>
					<p class="desc">Software developer in <span class="adr"><span class="locality">Montreal</span>, <span class="country-name">Canada</span></span></p>
				</div>
			</div>
	
		<div class="content-section">
			<div class="page">
				<div class="body-text">
					{{ content }}
				</div>
				<p class="footer">&copy; 2012 Marek Zaluski</p>
			</div>
		</div>
</body>
</html>
